* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* start editing from here */

a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}


/* text align right */

.txt-lt {
    text-align: left;
}


/* text align left */

.txt-center {
    text-align: center;
}


/* text align center */

.float-rt {
    float: right;
}


/* float right */

.float-lt {
    float: left;
}


/* float left */

.clear {
    clear: both;
}


/* clear float */

.pos-relative {
    position: relative;
}


/* Position Relative */

.pos-absolute {
    position: absolute;
}


/* Position Absolute */

.vertical-base {
    vertical-align: baseline;
}


/* vertical align baseline */

.vertical-top {
    vertical-align: top;
}


/* vertical align top */

nav.vertical ul li {
    display: block;
}


/* vertical menu */

nav.horizontal ul li {
    display: inline-block;
}


/* horizontal menu */

img {
    max-width: 100%;
}


/*--- end reset code ---*/

body {
    font-family: 'Work Sans', sans-serif;
    background: url(../images/bg.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

p {
    font-size: 1em;
    line-height: 1.5;
}

.text-center {
    text-align: center;
}


/* Header */

a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

.container {
    width: 50%;
    margin: auto;
    /* padding: 3.3em 0 0; */
}


h2.txt-w3_agile {
    font-size: 4em;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0.8em 0;
}
.nav-faqs{
    display: flex;
    justify-content: flex-end;
    padding: 0.5em 2em;
    background-color: #0A4076;
}
.logo{
    /* border: 2px solid #fff; */
    height: 80px;
    width: 80px;
    padding: 50px;
}
.peersapp{
    font-size: 3em;
    color: #fff;
    font-weight: 600;
    margin-top: -70px;
    margin-bottom: -30px;
    font-family: Work+Sans, sans-serif;
}
.peersapp-text{
    font-size: 1em;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    font-family: Work+Sans, sans-serif;
}

span.bar {
    background: #0A4076;
    /* background: #88adf1; */
    display: block;
    position: relative;
    width: 65%;
    margin: 0 auto;
    border-radius: 10px;
    height: 10px;
}

span.bar:before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0;
    width: 30%;
    background: #fff;
    height: 10px;
    border-radius: 0 10px 10px 0;
}
.container p {
    color: #fff;
    font-size: 1.1em;
    letter-spacing: 1px;
    margin: 35px 0;
    text-transform: capitalize;
}

.footer p {
    text-align: center;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 300;
}

.footer p a {
    color: #fff;
}

.footer p a:hover {
    color: #000;
}


/*-- social-icon --*/

ul.social_list {
    margin: 3em 0;
}

.social_list li {
    display: inline-block;
    margin-left: 1em;
}

.social_list li a {
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: 0.95em;
    width: 25px;
    line-height: 1.8em;
    padding: 5px;
    height: 25px;
    border: 1px solid transparent;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
}

a.social_facebook {
    background: #3b5998;
}

a.social_facebook:hover {
    border: 1px solid #3b5998;
    color: #3b5998;
}

a.social_twitter {
    background: #1da1f2;
}

a.social_twitter:hover {
    color: #1da1f2;
    border: 1px solid #1da1f2;
    
}

a.social_dribble {
    background: #ea4c89;
}

a.social_dribble:hover {
    color: #ea4c89;
    border: 1px solid #ea4c89;
}


.social_list li a:hover {
    background: transparent;
}


/*-- //social icons --*/
@media screen and (max-width: 1440px) {
    h2.txt-w3_agile {
        font-size: 3.8em;
        padding-top: 0.3em;
    }
    .footer p {
        padding-bottom: 2em;
    }
}
@media screen and (max-width: 1366px) {
    .container {
        width: 51%;
    }
}
@media screen and (max-width: 1280px) {
    .container {
        width: 54%;
    }
}
@media screen and (max-width: 1080px) {
    .container {
        width: 65%;
    }
    h2.txt-w3_agile {
        font-size: 3.6em;
    }
    
}


@media screen and (max-width: 1024px) {
    h2.txt-w3_agile {
        font-size: 3.4em;
    }
}


@media screen and (max-width: 900px) {
    h2.txt-w3_agile {
        font-size: 3.2em;
    }
}

@media screen and (max-width: 800px) {
    h2.txt-w3_agile {
        font-size: 3.1em;
    }
    .container {
        width: 72%;
    }
   
}
@media screen and (max-width: 768px) {
    h2.txt-w3_agile {
        font-size: 2.8em;
    }
    
}
@media screen and (max-width: 667px) {
    .container {
        width: 78%;
    }
    h2.txt-w3_agile {
        font-size: 2.6em;
    }
}

@media screen and (max-width: 640px) {
    .agileinfo-logo h1 span {
        font-size: 0.95em;
        width: 65px;
        line-height: 1.6;
        height: 65px;
    }
}

@media screen and (max-width: 600px) {
    h2.txt-w3_agile {
        font-size: 2.5em;
    }
    .container {
        width: 82%;
    }
}

@media screen and (max-width: 568px) {
    h2.txt-w3_agile {
        font-size: 2.3em;
    }
    .social_list li {
        margin-left: 0.8em;
    }
    .container p {
        margin: 30px 0;
    }
}

@media screen and (max-width: 480px) {
    h2.txt-w3_agile {
        font-size: 2.2em;
    }
    .container {
        width: 88%;
    }
   
    .footer p {
        padding: 0 2em 2em;
        line-height: 1.7;
    }
}

@media screen and (max-width: 414px) {
    h2.txt-w3_agile {
        font-size: 2em;
    }
    .container {
        width: 90%;
    }
    span.bar {
        width: 70%;
    }

    ul.social_list {
        margin: 2em 0;
    }
    .sub-form-wthree button {
        width: 16%;
    }
}

@media screen and (max-width: 384px) {
   
    h2.txt-w3_agile {
        font-size: 1.8em;
        line-height: 1.4;
    }
    .container {
        padding: 3em 0 0;
    }
    .container p {
      font-size: 1em;
    }
}
@media screen and (max-width: 375px) {
    h2.txt-w3_agile {
        font-size: 1.6em;
    }
    .container {
        padding: 2.5em 0 0;
    }
}
@media screen and (max-width: 320px) {
    h2.txt-w3_agile {
        font-size: 1.4em;
    }
    span.bar {
        width: 75%;
    }
}

